# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Models (Ignore processed data and models to keep repo light)
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
